body {
      background-color: white;
      padding: 50px;
}
.system-cards {
      display: flex;
      flex-wrap: wrap;
}
  
.card {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 200px;
}  

.ButtonCard {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 200px;
}

.FormCard{
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 50vw;
}

.card.offline {
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }
  
  .status-online {
      color: green;
      font-weight: bold;
  }
  
  .status-offline {
      color: red;
      font-weight: bold;
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.button-group button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
}