body {
      background-color: white;
      padding: 50px;
}
.system-cards {
      display: flex;
      flex-wrap: wrap;
}
  
.card {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 200px;
}  

.ButtonCard {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 200px;
}

.FormCard{
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 20px;
      margin: 10px;
      width: 50vw;
}
